.health-cards{
    height: 350px;
    margin-top: 50px;
}

.card {
    background-color: #f9f8fe;
    padding: 1rem;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
   align-items: flex-start;
    margin-bottom: 20px;
    height: 30%;
}
.card>p{
    line-height:0;
    padding: 0;
    margin: 0;
    font-size: 12px;
    color: rgb(153, 148, 148);
}
.card-header {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;

  }
  
  .card-header h4 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0; 
    color: #5c3a94;/* remove default h4 margin */
  }
  
  .status-indicator {
    display: block;
    height: 6px;
    width: 130px;
    border-radius: 3px;
    flex-shrink: 0;
    margin-top: 15px;
  }
  

.card-header .icon {
    font-size: 25px;
}

  
  /* Colors */
  .status-indicator.green {
    background-color: #4CAF50;
  }
  
  .status-indicator.red {
    background-color: #F44336;
  }
  
  .status-indicator.orange {
    background-color: #FF9800;
  }
  @media (max-width: 992px) {
    .card {
      flex: 1 1 calc(50% - 20px); /* 2 per row on tablets */
    }
  }
  
  @media (max-width: 600px) {
    .health-cards {
      flex-direction: column;
      align-items: center;
    }
  
    .card {
      flex: 1 1 100%; /* 1 per row on mobile */
      max-width: 100%;
    }
  
    .status-indicator {
      width: 100%;
    }
  }
  